<div class="mb-15">
  <%= link_to "Back to movies", admin_movies_path, class: "btn btn-default" %>
  <%= link_to "Edit Movie Details", edit_admin_movie_path, class: "btn btn-default" %>
  <%= link_to "Remove Poster", remove_poster_admin_movie_path, class: "btn btn-default", method: :post %>
</div>
<%= render partial: 'shared/show_movie', object: @movie, as: :movie %>
