
.pd-15 {
  padding: 15px;
}

.mb-15 {
  margin-bottom: 15px;
}

.trailer {
  padding: 50px;
}

.mt-15 {
  margin-top: 15px;
}

.border-bottom {
  border-bottom: solid grey;
  border-bottom-width: thin;
}
