// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.m-l-5{
  margin-left: 5px
}

.review-well {
  background-color: white;
  border-radius: 30px;
  padding: 15px;
  margin-left: 10px;
}
