<h4>Write a review</h4>
<%= form_for [@review.movie, @review], remote: true do |f| %>

  <div class="form-group">
    <%= f.cktext_area :content, id: "review-content", class: "form-control" %>
  </div>
  <div>
    <%= f.submit "Submit", class: "btn btn-primary col-md-1" %>
    <%= button_tag "Cancel", type: :button, id: "cancel-review", class: "btn btn-danger m-l-5" %>
  </div>

<% end %>
